#aPane {
    -fx-background-color:  #2E3449;
}
#startgame, #quitgame {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

#startgame:hover, #quitgame:hover {
    -fx-text-fill: #54BFCA;
}