#aPane {
    -fx-background-color:  #2E3449;
}
#collisionMode, #quitgame, #constantMode {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

#collisionMode:hover, #quitgame:hover, #constantMode:hover{
    -fx-text-fill: #54BFCA;
}